<nav class="navbar navbar-expand-md navbar-dark bg-primary">
  <div class="container">
    <div class="col d-flex">
      <a class="navbar-brand" [routerLink]="['/home']">Dating App</a>
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <ng-container *ngIf="authservice.currentUser$ | async">
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['/members']">Matches</a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['/lists']">Lists</a>
          </li>
          <li class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['/messages']">Messages</a>
          </li>
          <li *appHasRole="['Admin', 'Moderator']" class="nav-item" routerLinkActive="active" >
            <a class="nav-link" [routerLink]="['/admin']">Admin</a>
          </li>
        </ng-container>
      </ul>
    </div>

    <div *ngIf="(authservice.currentUser$  | async) as user" class="dropdown" dropdown>
      <img src="{{user.photoUrl || '../../../../assets/user.png'}}" alt="{{user.username}}">
      <a class="dropdown-toggle text-light ml-2" dropdownToggle>
        Welcome {{ user.knownAs || user.username | titlecase }}
      </a>

      <ul class="dropdown-menu mt-3" *dropdownMenu>
        <li>
          <a class="dropdown-item" [routerLink]="['/member/edit',user.username]">
            <i class="fa fa-user"></i> Edit Profile</a>
        </li>
        <div class="dropdown-divider"></div>
        <li>
          <a class="dropdown-item" (click)="logout()">
            <i class="fa fa-sign-out"></i> Logout</a>
        </li>
      </ul>
    </div>

    <form
      *ngIf="(authservice.currentUser$ | async) === null"
      [formGroup]="loginForm"
      class="d-flex justify-content-end col-5"
      (ngSubmit)="login()"
    >
      <input
        class="form-control me-2"
        type="username"
        placeholder="Username"
        name="username"
        aria-label="Username"
        formControlName="username"
      />

      <input
        class="form-control me-2 ml-2"
        type="password"
        placeholder="Password"
        name="password"
        aria-label="Password"
        formControlName="password"
      />

      <button
        [disabled]="!loginForm.valid"
        class="btn btn-secondary ml-2"
        type="submit"
      >
        Login
      </button>
    </form>
  </div>
</nav>
